/* icomoon font */

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?1707lf');
  src: url('fonts/icomoon.eot?1707lf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1707lf') format('truetype'),
    url('fonts/icomoon.woff?1707lf') format('woff'),
    url('fonts/icomoon.svg?1707lf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spinner11 {
  position: relative;
  top: 1px;
  left: 2px;
}
.icon-spinner11:before {
  content: '\e984';
}
.icon-bin2 {
  position: relative;
  top: 1px;
  left: 2px;
}
.icon-bin2:before {
  content: '\e9ad';
}

.icon-plus {
  position: relative;
  top: 1px;
  left: 2px;
}
.icon-plus:before {
  content: '\ea0a';
}

.icon-github:before {
  content: '\eab0';
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */

.header {
  background-color: navy;
  color: silver;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 39px 0 23px 0;
  margin-bottom: 9px;
}

.header-sub {
  letter-spacing: 6px;
  word-spacing: 8px;
  font-size: 30px;
  font-weight: 300;
}

.header-main {
  letter-spacing: 3px;
  word-spacing: 6px;
  font-weight: 900;
  font-size: 84px;
  margin: -12px 0 8px 0;
}

.header-link {
  font-size: 20px;
  letter-spacing: 2px;
  margin: 3px 0 1px 0;
}

.icon-github {
  font-size: 15px;
  position: relative;
  bottom: 1px;
}

/* fill buttons */

.button-fill {
  display: inline-flex;
  height: 50px;
  width: 150px;
  text-transform: uppercase;
  background-color: navy;
  border: 2px solid navy;
  color: white;

  text-decoration: none;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button-fill.right {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.button-fill.left {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  margin-right: 1px;
}

#button-fill {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-fill span {
  position: relative;
  transition: all 0.45s ease-Out;
}

#spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 70px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all 0.5s ease-Out;
}

#button-fill:hover #spin {
  width: 200%;
  height: 500%;
  opacity: 1;
  left: -70px;
  top: -70px;
  background: white;
  transform: rotate(80deg);
}

#button-fill:hover span {
  color: navy;
}

/* modals & overlays */

.modals {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
}

.overlays {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* media queries */

@media screen and (max-width: 1920px) {
  .calendar {
    height: 908px;
  }
}

@media screen and (max-width: 1680px) {
  .calendar {
    height: 805px;
  }
}

@media screen and (max-width: 1366px) {
  .calendar {
    height: 668px;
  }
}

@media screen and (max-width: 1280px) {
  .calendar {
    height: 617px;
  }
}

@media screen and (max-width: 1024px) {
  .calendar {
    height: 512px;
  }
}

@media screen and (max-width: 768px) {
  .calendar {
    height: 405px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 19px 0 23px 0;
  }

  .header-sub {
    letter-spacing: 2px;
    word-spacing: 4px;
    font-size: 16px;
  }

  .header-main {
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 45px;
    margin: -7px 0 8px 0;
  }

  .header-link {
    font-size: 18px;
    margin: -7px 0 -15px 0;
  }

  .icon-github {
    font-size: 10px;
  }

  .modals {
    min-width: 350px;
  }
}

@media screen and (max-width: 320px) {
  .button-fill {
    width: 49%;
  }

  .modals {
    min-width: 280px;
  }
}
